@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --color-dark: #333;
    --color-red: #f36;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    color: #333;
    background: var(--Gray100);
    /* height: 100vh; */
}

a,
button {
    cursor: pointer;
}

hr {
    height: 1px;
    background-color: #cccccc70;
    border: none;
}



*::-webkit-scrollbar {
    width: .6em;
    height: .6em;
}

*::-webkit-scrollbar-corner {
    background: var(--Red500);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--Red500);
    border-radius: 20px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .1em var(--Red500);
    border-radius: 20px;
}